@import "tailwindcss";

@theme {
  --color-brand-accent: #f58220;
  --color-brand-dark: #1a1a1a;
  --color-brand-gray: #f4f4f4;
  --color-brand-chrome: #e4e4e7;
  
  --font-sans: 'Outfit', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
  --font-script: 'Lobster', cursive;
}

@layer base {
  body {
    @apply bg-brand-gray text-brand-dark antialiased selection:bg-brand-accent selection:text-white;
  }
}

