@import "tailwindcss";

@theme {
  --color-brand-accent: #ea580c;
  --color-brand-dark: #18181b;
  --color-brand-gray: #f4f4f5;
  --color-brand-chrome: #e4e4e7;
  
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Oswald', sans-serif;
}

@layer base {
  body {
    @apply bg-brand-gray text-brand-dark antialiased selection:bg-brand-accent selection:text-white;
  }
}

